<div class="top-row ps-3 navbar navbar-dark" style="padding-left: 60px !important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MissionLensApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" id="navmenu" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="Home">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Home</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter" title="Counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Counter</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather" title="Weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Weather</span>
            </NavLink>
        </div>
    </nav>
</div>